@charset "UTF-8";
.headertest {
	text-align: center;
	text-decoration: underline;
	text-decoration-color: darkslateblue;
	text-overflow: ellipsis;
	letter-spacing: 10px;
	color: #0E6079;
	font-size: 40px;
	font-style: italic;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

.pic {
	align-content: center;
	margin: auto;
  display: block;
}
.qr {
	
	color: #651717
}


.party{
    box-shadow: inset 0px 1px 0px 0px #efdcfb;
    background: linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
    background-color: #dfbdfa;
    border-radius: 6px;
    border: 1px solid #c584f3;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #9752cc;
    position: absolute;
    top: 632px;
    right: 53px;
}

.email {
	position: absolute;
	top: 463px;
	right: 2px;
	width: 124px;
}
.button {
}
